@import "tailwindcss";
@import "@nuxt/ui";
@theme {
  --font-sans: Montserrat ;
}

/* Pantallas grandes*/
@media (max-width: 2500px){
  html {
    font-size: 25px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 22px;
  }

  .logo{
    width: 50px !important;
    height: 50px !important;
  }
}

/* Tabletas*/ 

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .logo{
    width: 40px !important;
    height: 40px !important;
  }


}

@media (max-width: 650px) {
  html {
    font-size: 12px;
  }

  .logo{
    width: 30px !important;
    height: 30px !important;
  }

  #logobox{
    min-width: 90% !important;
    max-width: 100% !important;
  }
}

/*/ Celulares */

@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
}