@import "tailwindcss";
@import "@nuxt/ui";
@theme {
  --font-sans: Montserrat ;
  --color-blue-100:#1A4A60;
  --color-blue-200:#5292af;
  --color-green-100:#47D38F;

}

/* Pantallas grandes*/
@media (max-width: 2500px){
  html {
    font-size: 22px;
  }

  body{
    background: white;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 20px;
  }
}

/* Tabletas*/ 

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 14px;
  }
}

/*/ Celulares */

@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 11px;
  }  
}